# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
AppDir/
*.AppImage

# Agent, AI, and Documentation files
.agents/skills
.claude/skills
.scratch/devtray/
docs/
skills-lock.json
AGENTS.md
CLAUDE.md
CONTEXT.md
/target/
.qmlls.ini
